 <!-- <ul> 
      <h2 class="headlines"> NATIONAL GEOGRAPHICS NEWS </h2>
      <br>
        <li *ngFor="let oneNews of news" id="headline">
           <p> <b>{{oneNews.title}}</b>  </p>
                
            
              
                <p> {{oneNews.description}} </p>
                <a href="{{oneNews.url}}" > link URL  </a>

    </ul>  -->


    <!-- <button onclick="http://numbersapi.com/42">Try me </button> -->


<div>
  <span id="number-fact"></span>

</div>



<div id="pagegradient"></div>

    <a class="button" href="/numbers">
        <span>press me</span>
    </a>

