<!-- <p>color of text will keep changing on each click</p>

<button onClick="getRandomColor()">Click on me</button>

<script>

var citation_width="100em";
var citation_height="150";
var type="day";

</script>
<script src="https://citations.ouest-france.fr/js/web/export.js?v2"></script> -->
<header>
  <nav>
    <ul>
        <li>
            <a class="nav-link" routerLink="/"> General </a>
           
          </li>
     
                    <li>

            <a class="nav-link" href="/numbers"> Numbers </a> </li>
            <li>

                <a class="nav-link" href="/country"> Countries </a> </li>
                <li>

                    <a class="nav-link" href="/pictures"> Pictures </a> </li>
                    <li>

                            <a class="nav-link" href="/movies"> Movies / TV</a> </li>
                            
    <li>

                                            <a class="nav-link" href="/books"> Books</a> </li>
                                   
                                            <li>

                                                    <a class="nav-link" href="/quotes"> quotes</a> </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
<footer>
    <p>© 2018 MOUTLAMENACE</p>

</footer>